* {

}

body {
    font-family: Times New Roman, sans-serif;
    background-color: black;
    color: #a46ee9;
    line-height: 1.6;}

#main h1 {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0;
    text-align: left;
/*    color: #36c4f0;*/
    margin-top: 20px;
    font-size: attr(width);
}

#banner {
    position: relative;
    top: 0;
    left: 33%;
    width: 67%;
    height: 0;
    padding-bottom: 37%;
}

#banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main {
    margin-left: min(33%, 200px);
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}


#main p {
    margin-bottom: 15px;
    color: #958bf8; /* Text secondary color for main background */
}

#sidebar {
    padding-top: 10px;
    background-color: #221660;
    height: 100%;
    width: min(30%, 200px); /* Scales with viewport */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.7);
}

/*Quick Links*/
#sidebar h2 {
    color: #a98bea;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

/*Buttons Normal*/
#sidebar a.button {
    display: block;
    text-decoration: none;
    color: black;
    background-color: #a98bea;
    padding: 10px 15px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
}

/*Buttons Hover*/
#sidebar a.button:hover {
    background-color: #062a29; /* On hover */
    color: #36c4f0;
    transform: scale(1.05);
}

footer {
    padding-left: min(33%, 200px); /* Scales with the sidebar */
    ;
    text-align: left;
    margin: 20px 0;
    color: #5b4dd9;
    font-size: 0.9rem;
}
